/* Polices d'écriture */

@font-face {
    font-family: hero;
    src: url("fonts/Hero/Hero.otf");
}

@font-face {
    font-family: heroLight;
    src: url("fonts/Hero/Hero Light.otf");
}

@font-face {
    font-family: proximaLight;
    src: url("fonts/ProximaLight/Proxima Nova Alt Light.otf");
}

*{
    font-family: hero !important;
}

input, select{
    font-family: heroLight !important;
}

h1, h2, h3, h4{
    font-family: proximaLight !important;
}

/* Reste du CSS */

#logo {
    width: 50px;
    height: 50px;
}

.navbar {
    background: linear-gradient(to right, #372772, #3D348B, 90%, #55caff);
}

#nomSite {
    color: #df4add !important;
}

body {
    background: rgb(180,58,58);
    background: linear-gradient(50deg, rgba(180,58,58,0.33) 0%, rgba(204,48,48,0.33) 14%, rgba(213,45,45,0.33) 23%, rgba(222,41,41,0.33) 31%, rgba(252,120,54,0.33) 55%, rgba(253,129,66,0.33) 68%, rgba(253,132,70,0.33) 73%, rgba(255,142,85,0.33) 88%);
}

html{
    height: 100%;
}